<nav class="bg-light sticky-top">
    <div class="container">
        <div class="row justify-content-end">
            <div routerLink="/welcome" class="col-4 col-md-4 text-center p-2">
                <h2>Web App</h2>
            </div>
            <div class="col-8 col-md-8 text-right d-md-block text-end">
                <ul class="mb-0">
                    <li routerLink="/welcome" class="d-inline-block p-3 lead text-secondary">Inicio</li>
                    <li routerLink="/store" class="d-inline-block p-3 lead text-secondary">Tienda</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
