<nav class="bg-light sticky-top">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-4 col-md-4 text-center p-2">
                <h2>Web App</h2>
            </div>
            <div class="col-8 col-md-8 text-right d-none d-md-block text-end">
                <ul class="mb-0">
                    <li class="d-inline-block p-3"><a href="" class="lead text-secondary">Inicio</a></li>
                    <li class="d-inline-block p-3"><a href="" class="lead text-secondary">Tienda</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<header>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 h-auto align-self-center text-center fondo-blanco py-5">
          <h1 class="display-1">Web app</h1>
        </div>
      </div>
    </div>
</header>